body {
    background-color: #E71F7B;;
}
.container {
    min-height: 840px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
.card {
    max-width: 640px;
    position: relative;
    background-color: white;
    border-radius: 12px;
}
.logo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logoImage {
    border-radius: 500px;
    width: 40px;
    height: 40px;
}
.logoWrapper {
    padding-left: 11px;
    padding-top: 4px;
    display: flex;
}
.leftWrapper {
    padding: 5px;
}
.brainForge {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17.58px;
    color: #1e40af;
}
.sponsored {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #65676b;
}
.ellipsis {
    height: 5px;
    padding-top: 20px;
}
.text {   
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #050505;
    padding-right: 45px;
    padding-left: 20px;
}
.tagWrapper {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 11px;
}
.tags {  
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #395996;
}
.webpage {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #395996;
    padding-top: 8px;
    padding-bottom: 0px;
}
.navWrapper { 
    background-color: #F2F3F5;
    border: 3px solid rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.brainforgecom {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 135.69%;
    color: #606770;
}
.htmlcssjs {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 135.69%;
    color: #1D2129;
}
.rectangle {
    border: 2px solid #bec3c9;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 127.7%;
    color:#4B4F56;
    box-sizing: border-box;
    width: 142px;
    height: 36px;
    padding-top: 8px;
}
.learnMore {
    padding-left: 30px;
}
.footer {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 135.69%;
    color: #606770;
    padding: 30px;
}
.mainImage {
    margin-bottom: -4px;
}
.rectangle:hover {
    background-color: #DEDEDE;
}
.shares:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.likes, .comments, .shares {
    display: flex;
}
.like, .comment, .shareText {
    padding-left: 10px;
}
@media (max-width: 1000px) {
    .like, .comment, .shareText {display: none;}
}
   
